extends layout

include mixins/_reviewForm
include mixins/_review

block content
	.single
		.single__hero
			img.single__image(src=`/uploads/${item.photo || 'item.png'}`)
			h2.title.title--single
				a(href=`/items/${item.slug}`) #{item.name}

	.single__details.inner
		img.main__image(src=`/uploads/${item.photo || 'item.png'}`)
		p= item.description

		if item.categories
			ul.categories
				each category in item.categories
					li.category
						a.category__link(href=`/categories/${category}`)
							span.category__text  ##{category}
		.item__cta
			a.button-pulse(href=`${item.buylink}`) КУПИТЬ
		//- if user
		//- 	+reviewForm(item)
		//- if item.reviews
		//- 	.reviews
		//- 		each r in item.reviews
		//- 			.review
		//- 				+review(r)
