extends layout

block content
	.inner
		h2= title
		.items
			.item
				.item__hero
					.item__actions
					img(src="/images/categories/QFN.jpg")
					h2.title
						a(href=`/categories/QFN Переходники`) QFN Переходники
				.item__photo
					img(src="/images/categories/QFN.jpg")
				.item__details
					p= "Переходники предназначены для макетирования микросхем в корпусе QFN. Данный корпус достаточно сложен в пайке. Но, учитывая что качество наших плат высокое, пайка не составит большого труда."
				.item__cta
					a.button-pulse(href=`/categories/QFN Переходники`) Просмотр
			.item
				.item__hero
					.item__actions
					img(src="/images/categories/BreadBoard.jpg")
					h2.title
						a(href=`/categories/Переходники для Breadboard`) Переходники для Breadboard
				.item__photo
					img(src="/images/categories/BreadBoard.jpg")
				.item__details
					p= "Это пробная серия плат-переходников, которые адаптированы для макетирования с использованием BreadBoard. Каждый из переходников имеет две рабочие стороны. На каждой из сторон – свой корпус."
				.item__cta
					a.button-pulse(href=`/categories/Переходники для Breadboard`) Просмотр
			.item
				.item__hero
					.item__actions
					img(src="/images/categories/QFP.jpg")
					h2.title
						a(href=`/categories/QFP Переходники`) QFP Переходники
				.item__photo
					img(src="/images/categories/QFP.jpg")
				.item__details
					p= "Переходники предназначены для макетирования микросхем в корпусе QFP. Данный корпус распространен ввиду его небольших габаритов и удобного расположения ног."
				.item__cta
					a.button-pulse(href=`/categories/QFP Переходники`) Просмотр
			.item
				.item__hero
					.item__actions
					img(src="/images/categories/SO.jpg")
					h2.title
						a(href=`/categories/Платы-переходники SO`) Платы-переходники SO
				.item__photo
					img(src="/images/categories/SO.jpg")
				.item__details
					p= "Предлагаем набор плат-переходников, которые с легкостью трансформируют промышленные корпуса SO28 и SO8 в обычный DIP формат, который поддается ручному монтажу."
				.item__cta
					a.button-pulse(href=`/categories/Платы-переходники SO`) Просмотр
			.item
				.item__hero
					.item__actions
					img(src="/images/categories/SOT23.jpg")
					h2.title
						a(href=`/categories/Переходники SOT23`) Переходники SOT23
				.item__photo
					img(src="/images/categories/SOT23.jpg")
				.item__details
					p= "Данные виды переходников охватывают один из самых распространенных и маленьких типов корпуса. Он предназначен для макетирования микросхем в корпусах SOT23-6 и SOT23-8."
				.item__cta
					a.button-pulse(href=`/categories/Переходники SOT23`) Просмотр
			.item
				.item__hero
					.item__actions
					img(src="/images/categories/Balancers.jpg")
					h2.title
						a(href=`/categories/Балансиры`) Балансиры
				.item__photo
					img(src="/images/categories/Balancers.jpg")
				.item__details
					p= "Балансир предназначен для шунтирования ячеек литиевой АкБ во время заряда. Т.е. при превышении на ячейке порогового напряжения, на балансире открывается транзистор и ток начинает течь."
				.item__cta
					a.button-pulse(href=`/categories/Балансиры`) Просмотр
			.item
				.item__hero
					.item__actions
					img(src="/images/categories/SSOP.jpg")
					h2.title
						a(href=`/categories/Переходники SSOP`) Переходники SSOP
				.item__photo
					img(src="/images/categories/SSOP.jpg")
				.item__details
					p= "Предлагаем плату-переходник, которая с легкостью трансформирует промышленный корпус SSOP28 в обычный DIP формат, который поддается ручному монтажу."
				.item__cta
					a.button-pulse(href=`/categories/Переходники SSOP`) Просмотр