mixin itemForm(item = {})
	form(action=`/add/${item._id || ''}` method='POST' class='card' enctype="multipart/form-data")
		label(for='name') Название
		input(type='text' name='name' value=item.name)
		label(for='description') Описание
		textarea(name='description')= item.description
		label(for='buylink') Ссылка где купить
		input(type='text' name='buylink' value=item.buylink)
		label(for='photo') Фото
			input(type='file' name='photo' id='photo' accept='image/gif, image/jpeg, image/png, image/jpg')
			if item.photo
				img(src=`/uploads/${item.photo}`, alt=item.name width=200)
		- const choices = ['Переходники SO', 'Переходники SSOP', 'Переходники для Breadboard', 'QFN Переходники', 'Переходники SOT23', 'QFP Переходники', 'Переходники для BreadBoard', 'Платы-переходники SO', 'Балансиры'] 
		- const categories = item.categories || []
		ul.categories
			each choice in choices
				.category.category__choice
					input(type='checkbox' id=choice value=choice name='categories' checked=(categories.includes(choice)))
					label(for=choice) #{choice}
		input(type='submit' value='Сохранить' class='button')